/* 
    Document   : style
    Created on : Aug 06, 2013
    Author     : Amidamaru Rookie
    Description:
        Purpose of the stylesheet follows.
*/

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:black;
    /* font-family:Arial, sans-serif;
    font-size:14px; */
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/icons/sms.icons/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(../images/icons/sms.icons/check_radio_sheet.png) -57px top no-repeat;
}